.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}
.contenedor{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}